.decode {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 50%;
  text-align: center;
  &__sec {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    &__file {
      border: 1px solid rgba(0, 0, 0, 0);
      padding: 6px 12px;
      cursor: pointer;
      transition: all 0.3s ease;
      border-radius: 10px;
      &:hover {
        border: 1px solid rgb(255, 255, 255);
      }
    }
    &__text {
      font-size: 12px;
    }
  }
}

.blue {
  color: #00f;
}

.red {
  color: rgb(90, 90, 90);
}

input[type="file"] {
  display: none;
}
